<a href="https://colab.research.google.com/github/arumajirou/-daily-test/blob/main/%E6%99%82%E7%B3%BB%E5%88%97%E3%82%A2%E3%83%97%E3%83%AA%E4%B8%8B%E8%AA%BF%E3%81%B9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 各ライブラリを最新版に更新します

# pipはPythonのパッケージマネージャーです。これを使ってPythonライブラリをインストール、アップグレード、削除することができます。
!pip install -U pip

# tsfreshは時間系列データからの特徴抽出を自動化するライブラリです。
!pip install -U tsfresh

# featuretoolsは、データセットから自動的に新しい特徴量を生成するライブラリです。
!pip install -U featuretools

# sktimeは時間系列データの分析と予測を行うためのツールキットです。
!pip install -U sktime

# stumpyは、時間系列データでのパターン検索と比較を行うためのライブラリです。
!pip install -U stumpy

# cesiumは、時間系列データの分析と機械学習のためのライブラリです。
!pip install -U cesium

# pandasは、データ操作と分析のための強力なライブラリです。
!pip install -U pandas

# urllib3は、PythonでHTTPリクエストを作成するためのライブラリです。
!pip install -U urllib3

# daskは、大規模なデータセットの並列計算と分散計算を可能にするライブラリです。ここでは、データフレーム機能を強化するためにdask[dataframe]をインストールします。
!pip install -U dask[dataframe]

# japaneraは、日本の元号を扱うためのライブラリです。
!pip install -U japanera

# polarsは、大量のデータを高速に処理できるデータ分析ライブラリです。
!pip install -U polars

# dask-mlは、大規模なデータセットに対する機械学習を可能にするライブラリです。
!pip install -U dask-ml

# tsfresh、featuretools、sktimeは既にインストール済みなので、再度インストールする必要はありません。

# seglearnは、時系列データとシーケンシャルデータの学習を支援するライブラリです。
!pip install -U seglearn

# pyarrowは、大量のデータを効率的に処理するためのライブラリです。
!pip install -U pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pip in /usr/local/lib/python3.10/dist-packages (23.1.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tsfresh in /usr/local/lib/python3.10/dist-packages (0.20.0)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (2.27.1)
Requirement already satisfied: numpy>=1.15.1 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (1.22.4)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (1.5.3)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (1.10.1)
Requirement already satisfied: statsmodels>=0.13 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (0.13.5)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (0.5.3)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (1.2.2)
Requirement already satisfied: tqdm>=4.10.0 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (4.65.0)
Requirement already satisfied: dask[dataframe]>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (2023.5.1)
Requirement already satisfied: distributed>=2.11.0 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (2023.5.1)
Requirement already satisfied: stumpy>=1.7.2 in /usr/local/lib/python3.10/dist-packages (from tsfresh) (1.11.1)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.10/dist-packages (from tsfresh) (2.2.1)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]>=2.9.0->tsfresh) (8.1.3)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]>=2.9.0->tsfresh) (2023.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]>=2.9.0->tsfresh) (23.1)
Requirement already satisfied: partd>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]>=2.9.0->tsfresh) (1.4.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]>=2.9.0->tsfresh) (6.0)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]>=2.9.0->tsfresh) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]>=2.9.0->tsfresh) (6.6.0)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.11.0->tsfresh) (3.1.2)
Requirement already satisfied: locket>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.11.0->tsfresh) (1.0.0)
Requirement already satisfied: msgpack>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.11.0->tsfresh) (1.0.5)
Requirement already satisfied: psutil>=5.7.2 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.11.0->tsfresh) (5.9.5)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.11.0->tsfresh) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.11.0->tsfresh) (1.7.0)
Requirement already satisfied: tornado>=6.0.4 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.11.0->tsfresh) (6.3.1)
Requirement already satisfied: urllib3>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.11.0->tsfresh) (1.26.16)
Requirement already satisfied: zict>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from distributed>=2.11.0->tsfresh) (3.0.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.0->tsfresh) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.0->tsfresh) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.4.1->tsfresh) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.9.1->tsfresh) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.9.1->tsfresh) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.9.1->tsfresh) (3.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22.0->tsfresh) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22.0->tsfresh) (3.1.0)
Requirement already satisfied: numba>=0.54 in /usr/local/lib/python3.10/dist-packages (from stumpy>=1.7.2->tsfresh) (0.56.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.13.0->dask[dataframe]>=2.9.0->tsfresh) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.10.3->distributed>=2.11.0->tsfresh) (2.1.2)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.54->stumpy>=1.7.2->tsfresh) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from numba>=0.54->stumpy>=1.7.2->tsfresh) (67.7.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: featuretools in /usr/local/lib/python3.10/dist-packages (1.26.0)
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (2.2.1)
Requirement already satisfied: holidays>=0.13 in /usr/local/lib/python3.10/dist-packages (from featuretools) (0.25)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (1.22.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (23.1)
Requirement already satisfied: pandas<2.0.0,>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (1.5.3)
Requirement already satisfied: psutil>=5.6.6 in /usr/local/lib/python3.10/dist-packages (from featuretools) (5.9.5)
Requirement already satisfied: scipy>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (1.10.1)
Requirement already satisfied: tqdm>=4.32.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (4.65.0)
Requirement already satisfied: woodwork>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from featuretools) (0.24.0)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.10/dist-packages (from holidays>=0.13->featuretools) (0.3.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from holidays>=0.13->featuretools) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.0.0,>=1.5.0->featuretools) (2022.7.1)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.10/dist-packages (from woodwork>=0.23.0->featuretools) (1.2.2)
Requirement already satisfied: importlib-resources>=5.10.0 in /usr/local/lib/python3.10/dist-packages (from woodwork>=0.23.0->featuretools) (5.12.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil->holidays>=0.13->featuretools) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22->woodwork>=0.23.0->featuretools) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22->woodwork>=0.23.0->featuretools) (3.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sktime in /usr/local/lib/python3.10/dist-packages (0.19.1)
Requirement already satisfied: deprecated>=1.2.13 in /usr/local/lib/python3.10/dist-packages (from sktime) (1.2.14)
Requirement already satisfied: numpy<1.25,>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from sktime) (1.22.4)
Requirement already satisfied: pandas<2.1.0,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from sktime) (1.5.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from sktime) (23.1)
Requirement already satisfied: scikit-base<0.5.0 in /usr/local/lib/python3.10/dist-packages (from sktime) (0.4.5)
Requirement already satisfied: scikit-learn<1.3.0,>=0.24.0 in /usr/local/lib/python3.10/dist-packages (from sktime) (1.2.2)
Requirement already satisfied: scipy<2.0.0,>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from sktime) (1.10.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from deprecated>=1.2.13->sktime) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.1.0,>=1.1.0->sktime) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.1.0,>=1.1.0->sktime) (2022.7.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<1.3.0,>=0.24.0->sktime) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<1.3.0,>=0.24.0->sktime) (3.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.1.0,>=1.1.0->sktime) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: stumpy in /usr/local/lib/python3.10/dist-packages (1.11.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from stumpy) (1.22.4)
Requirement already satisfied: scipy>=1.5 in /usr/local/lib/python3.10/dist-packages (from stumpy) (1.10.1)
Requirement already satisfied: numba>=0.54 in /usr/local/lib/python3.10/dist-packages (from stumpy) (0.56.4)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.54->stumpy) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from numba>=0.54->stumpy) (67.7.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: cesium in /usr/local/lib/python3.10/dist-packages (0.12.1)
Requirement already satisfied: numpy>=1.14.3 in /usr/local/lib/python3.10/dist-packages (from cesium) (1.22.4)
Requirement already satisfied: scipy>=0.16.0 in /usr/local/lib/python3.10/dist-packages (from cesium) (1.10.1)
Requirement already satisfied: scikit-learn>=0.22.1 in /usr/local/lib/python3.10/dist-packages (from cesium) (1.2.2)
Requirement already satisfied: pandas>=0.17.0 in /usr/local/lib/python3.10/dist-packages (from cesium) (1.5.3)
Requirement already satisfied: dask>=2.5.0 in /usr/local/lib/python3.10/dist-packages (from cesium) (2023.5.1)
Requirement already satisfied: toolz in /usr/local/lib/python3.10/dist-packages (from cesium) (0.12.0)
Requirement already satisfied: gatspy>=0.3.0 in /usr/local/lib/python3.10/dist-packages (from cesium) (0.3)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.10/dist-packages (from cesium) (2.2.1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from cesium) (1.2.0)
Requirement already satisfied: setuptools-scm>=7.1.0 in /usr/local/lib/python3.10/dist-packages (from cesium) (7.1.0)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2.5.0->cesium) (8.1.3)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2.5.0->cesium) (2023.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2.5.0->cesium) (23.1)
Requirement already satisfied: partd>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2.5.0->cesium) (1.4.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.10/dist-packages (from dask>=2.5.0->cesium) (6.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.10/dist-packages (from dask>=2.5.0->cesium) (6.6.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.17.0->cesium) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.17.0->cesium) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22.1->cesium) (3.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from setuptools-scm>=7.1.0->cesium) (67.7.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from setuptools-scm>=7.1.0->cesium) (4.5.0)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from setuptools-scm>=7.1.0->cesium) (2.0.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.13.0->dask>=2.5.0->cesium) (3.15.0)
Requirement already satisfied: locket in /usr/local/lib/python3.10/dist-packages (from partd>=1.2.0->dask>=2.5.0->cesium) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.17.0->cesium) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Collecting pandas
  Using cached pandas-2.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
featuretools 1.26.0 requires pandas<2.0.0,>=1.5.0, but you have pandas 2.0.2 which is incompatible.
google-colab 1.0.0 requires pandas==1.5.3, but you have pandas 2.0.2 which is incompatible.
pandas-gbq 0.17.9 requires pyarrow<10.0dev,>=3.0.0, but you have pyarrow 12.0.0 which is incompatible.
plotly-resampler 0.8.3.2 requires pandas<2.0.0,>=1.3.5, but you have pandas 2.0.2 which is incompatible.
woodwork 0.24.0 requires pandas<2.0.0,>=1.4.3, but you have pandas 2.0.2 which is incompatible.
Successfully installed pandas-2.0.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (1.26.16)
Collecting urllib3
  Using cached urllib3-2.0.2-py3-none-any.whl (123 kB)
Installing collected packages: urllib3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.26.16
    Uninstalling urllib3-1.26.16:
      Successfully uninstalled urllib3-1.26.16
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.27.1 requires urllib3<1.27,>=1.21.1, but you have urllib3 2.0.2 which is incompatible.
Successfully installed urllib3-2.0.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.10/dist-packages (2023.5.1)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (8.1.3)
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (2.2.1)
Requirement already satisfied: fsspec>=2021.09.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (2023.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (23.1)
Requirement already satisfied: partd>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (1.4.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (6.0)
Requirement already satisfied: toolz>=0.10.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (6.6.0)
Requirement already satisfied: numpy>=1.21 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (1.22.4)
Requirement already satisfied: pandas>=1.3 in /usr/local/lib/python3.10/dist-packages (from dask[dataframe]) (2.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=4.13.0->dask[dataframe]) (3.15.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3->dask[dataframe]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3->dask[dataframe]) (2022.7.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3->dask[dataframe]) (2023.3)
Requirement already satisfied: locket in /usr/local/lib/python3.10/dist-packages (from partd>=1.2.0->dask[dataframe]) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.3->dask[dataframe]) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: japanera in /usr/local/lib/python3.10/dist-packages (2.0.0)
Requirement already satisfied: kanjize==1.3.0 in /usr/local/lib/python3.10/dist-packages (from japanera) (1.3.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: polars in /usr/local/lib/python3.10/dist-packages (0.18.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dask-ml in /usr/local/lib/python3.10/dist-packages (2023.3.24)
Requirement already satisfied: dask[array,dataframe]>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from dask-ml) (2023.5.1)
Requirement already satisfied: distributed>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from dask-ml) (2023.5.1)
Requirement already satisfied: numba>=0.51.0 in /usr/local/lib/python3.10/dist-packages (from dask-ml) (0.56.4)
Requirement already satisfied: numpy>=1.20.0 in /usr/local/lib/python3.10/dist-packages (from dask-ml) (1.22.4)

In [ ]:
#@title データの作成
# pandasというライブラリをpdという名前でインポートする
# pandasはデータ分析や操作に便利な機能を提供する
import pandas as pd

# urllib.requestというモジュールをインポートする
# urllib.requestはURLを開いてデータを読み込むためのモジュールである
import urllib.request

# ioというモジュールからStringIOというクラスをインポートする
# StringIOは文字列をファイルのように扱えるクラスである
from io import StringIO

# dask.dataframeというライブラリをddという名前でインポートする
# dask.dataframeはpandasのデータフレームと似た機能を持つが、大規模なデータに対して並列処理が可能である
import dask.dataframe as dd

# japaneraというライブラリをインポートする
# japaneraは日本の元号や和暦を扱うためのライブラリである
import japanera

# polarsというライブラリをplという名前でインポートする
# polarsは高速なデータフレーム操作や分析を行うためのライブラリである
import polars as pl

# pyarrowというライブラリをpaという名前でインポートする
# pyarrowはApache Arrowというメモリ効率的なデータ構造やフォーマットに対応したライブラリである
import pyarrow as pa

# numpyというライブラリをnpという名前でインポートする
# numpyは数値計算や多次元配列の操作に便利な機能を提供する
import numpy as np

# pandasというライブラリをpdという名前で再度インポートする
import pandas as pd

# urllib.requestというモジュールからurlopenという関数をインポートする
from urllib.request import urlopen

from typing import List, Dict, Tuple, Optional
# 必要なライブラリをインポートします。
# ipywidgetsはユーザーとインタラクションするためのウィジェットを作るためのライブラリです。
# IPython.displayはJupyter Notebook上で出力を表示するためのライブラリです。
import ipywidgets as widgets
from IPython.display import display
from IPython.display import display, HTML

def get_rokuyo(japanese_date) -> str:
    """
    この関数は、日本の日付を受け取り、それを旧暦に変換し、対応する六曜を返します。

    :param japanese_date: 変換する日本の日付。
    :type japanese_date: japanera.JapaneseDate
    :return: 対応する六曜。
    :rtype: str
    """
    # 日本の日付を旧暦に変換します。
    old_date = japanese_date.to_julian_date()

    # 旧暦の日と月を足し算します。
    month_day = int(old_date) % 100 + int(old_date * 100) % 100

    # 足し算した結果を6で割った余りを計算します。
    remainder = month_day % 6

    # 六曜のリストを定義します。これは日本の伝統的なカレンダーシステムです。
    rokuyo_list = ["大安", "赤口", "先勝", "友引", "先負", "仏滅"]

    # 余りの数に対応する六曜をリストから選び、それを返します。
    return rokuyo_list[remainder]


def make_numbers(num: int) -> pd.DataFrame:
    """
    この関数は、指定したナンバーズ（数値型）をウェブから取得し、pandasのデータフレームに格納します。

    :param num: ウェブから取得するナンバーズの種類を指定します。int型。
    :return: 取得したナンバーズのデータを格納したデータフレーム。pandas.DataFrame型。
    """
    # 指定されたナンバーズのデータをウェブから読み込みます。読み込んだデータはshift-jisでエンコードされています。
    df = pd.read_table('http://vvslot.com/download.php?m=777&f=numbers' + str(num) + '.txt', encoding="shift-jis", sep=",", names=["part", "date", "week", "eto", "抽選数字"], parse_dates=[1], dtype='object')

    # 新たなカラム"LOTO"を作成し、"num"と指定したナンバーズの種類（num）を連結した文字列を格納します。
    df["LOTO"] = "num" + str(num)

    # データフレームを"date"カラム（日付）に基づいてソート（並び替え）します。
    df = df.sort_values(by='date')

    # 抽選数字の各桁を新しいカラムに分割して格納します。例えば、抽選数字が"1234"の場合、"N1"には"1"、"N2"には"2"、"N3"には"3"、"N4"には"4"が格納されます。
    for i in range(4):
        df["N" + str(i + 1)] = df["抽選数字"].str[i]

    return df


def make_Bin5() -> pd.DataFrame:
    """
    この関数は、ビンゴ5のデータをウェブから取得し、pandasのデータフレームに格納します。

    :return: 取得したビンゴ5のデータを格納したデータフレーム。pandas.DataFrame型。
    """
    # ビンゴ5のデータをウェブから読み込みます。このデータはHTMLのテーブル形式です。
    url = 'http://vvslot.com/bingo5_data.php'
    df_Bin5 = pd.read_html(url)

    # 読み込んだデータ（HTMLのテーブル）の中から、10番目（インデックスは9）のテーブルを取得します。
    # 不要なカラム（"Ｎ5",'1等', '2等', '3等'）を削除します。
    df_Bin5 = df_Bin5[9].drop(["Ｎ5",'1等', '2等', '3等'], axis=1)

    # データフレームのカラム名を新しく設定します。
    df_Bin5.columns = ['part','date','N1','N2','N3','N4','N5','N6','N7','N8']

    # 'date'カラムのデータを日付型に変換します。この際、日付の形式を指定します。
    df_Bin5['date'] = pd.to_datetime(df_Bin5['date'], format='%Y年%m月%d日')

    # 新たなカラム"LOTO"を作成し、その値として"Bin5"を格納します。これは、このデータフレームがビンゴ5のデータであることを示します。
    df_Bin5["LOTO"] = "Bin5"

    return df_Bin5


def make_loto(name: str = "loto6", col: int = 9, ln: int = 6, b: int = 1) -> pd.DataFrame:
    """
    この関数は、指定されたロト（例：loto6）のデータをウェブから取得し、pandasのデータフレームに格納します。

    :param name: 取得するロトの名前を指定します。デフォルトは"loto6"。str型。
    :param col: 取得するカラムの数を指定します。デフォルトは9。int型。
    :param ln: ナンバーの数を指定します。デフォルトは6。int型。
    :param b: ボーナスの数を指定します。デフォルトは1。int型。
    :return: 取得したロトのデータを格納したデータフレーム。pandas.DataFrame型。
    """
    # データフレームのカラム名を作成します。"part"、"date"、ナンバー("N1"~"N6")、ボーナス("B1")を含みます。
    names = ["part", "date"] + ["N" + str(i) for i in range(1, ln + 1)] + ["B" + str(j) for j in range(1, b + 1)]

    # 指定されたロトのデータをウェブから読み込みます。読み込んだデータはshift-jisでエンコードされています。
    df = pd.read_table('https://' + name + '.thekyo.jp/data/' + name + '.csv', encoding="shift-jis",
                       sep=",", skiprows=1, usecols=list(range(col)), parse_dates=[1], names=names)  # datetimeの選択

    # 新たなカラム"LOTO"を作成し、ロトの名前を格納します。これは、このデータフレームがどのロトのデータであることを示します。
    df["LOTO"] = name

    return df

def one_hot_encode_week(df: pd.DataFrame) -> pd.DataFrame:
    """
    この関数は、データフレームの'week'カラムをワンホットエンコーディングします。

    :param df: ワンホットエンコーディングを行うデータフレーム。pandas.DataFrame型。
    :return: 'week'カラムをワンホットエンコーディングしたデータフレーム。pandas.DataFrame型。
    """
    # 'week'カラムの各値をワンホットエンコーディングします。これにより、'week'カラムの各値が新たなカラムとして追加されます。
    week_dummies = pd.get_dummies(df['week'], prefix='week')

    # オリジナルのデータフレームとワンホットエンコーディングしたデータフレームを連結します。
    df = pd.concat([df, week_dummies], axis=1)

    # 元の'week'カラムはもう必要ないので、データフレームから削除します。
    df.drop('week', axis=1, inplace=True)

    return df

# データフレームの作成
df_numbers4 = pd.DataFrame(make_numbers(4))  # ナンバーズ4のデータフレームを作成します
df_numbers3 = pd.DataFrame(make_numbers(3))  # ナンバーズ3のデータフレームを作成します
df_Bin5 = pd.DataFrame(make_Bin5())  # ビンゴ5のデータフレームを作成します
df_loto5 = pd.DataFrame(make_loto(name="miniloto", col=8, ln=5, b=1))  # ミニロトのデータフレームを作成します
df_loto6 = pd.DataFrame(make_loto())  # ロト6のデータフレームを作成します
df_loto7 = pd.DataFrame(make_loto(name="loto7", col=11, ln=7, b=2))  # ロト7のデータフレームを作成します

# データフレームの結合と日付での並び替え
df_sorted = pd.concat([df_loto5, df_loto6, df_loto7, df_numbers3, df_numbers4, df_Bin5]).sort_values('date')

# '抽選数字'カラムは不要なので削除します
df_sorted.drop('抽選数字', axis=1, inplace=True)

# データフレームを日付で並び替えます
df_sorted = df_sorted.sort_values(by='date')

# カテゴリ変数をワンホットエンコーディングします
df_encoded = pd.get_dummies(df_sorted, columns=['week', 'eto', 'LOTO'])

# Convert the num1 to num8 columns to integer type
df_encoded[['part','N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7','N8','B1', 'B2']] = df_encoded[['part','N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7','N8','B1', 'B2']].replace('missing', 0).replace([np.inf, -np.inf], np.nan).fillna(0).astype(int)


# PandasのデータフレームをDaskのデータフレームに変換
df_encoded_dd = dd.from_pandas(df_encoded, npartitions=4)
df_encoded_dd = df_encoded_dd.compute().sort_values('date')
df_encoded_dd = dd.from_pandas(df_encoded_dd, npartitions=4)

# DaskのデータフレームをArrowのテーブルに変換
table = pa.Table.from_pydict(dict(df_encoded_dd.compute()))

# ArrowのテーブルをPolarsのデータフレームに変換
df_encoded_pl = pl.from_arrow(table)

# Polarsのデータフレームを日付で並び替え
df_encoded_pl = df_encoded_pl.sort('date')

In [ ]:
df_encoded.info()
#df_encoded=df_encoded[df_encoded.LOTO_Bin5 == 1]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    93 non-null     datetime64[ns]
 1   kind    93 non-null     object
 2   value   93 non-null     int64
 3   id      93 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 3.0+ KB

In [ ]:
#@title データフレームの作成
# 必要なライブラリをインポートします。
# ipywidgetsはユーザーとインタラクションするためのウィジェットを作るためのライブラリです。
# IPython.displayはJupyter Notebook上で出力を表示するためのライブラリです。
import ipywidgets as widgets
from IPython.display import display

# セレクトボックスの選択肢を設定します。各選択肢は宝くじの種類を表しています。
options = [
 ("LOTO_Bin5", "LOTO_Bin5"),
 ("LOTO_loto6", "LOTO_loto6"),
 ("LOTO_loto7", "LOTO_loto7"),
 ("LOTO_miniloto", "LOTO_miniloto"),
 ("LOTO_num3", "LOTO_num3"),
 ("LOTO_num4", "LOTO_num4"),
]


# ドロップダウンメニューを作成します。ユーザーはこのメニューから宝くじの種類を選択します。
# デフォルトで"LOTO_Bin5"が選択されるようにvalueパラメータを設定します。
select_box = widgets.Dropdown(
 options=options,
 value="LOTO_Bin5",
 description='LOTO:',
 disabled=False,
)


# セレクトボックスを表示します。ユーザーが選択するためのものです。
display(select_box)

# フィルタリングされたデータフレームを格納するためのグローバル変数を宣言します。
global_filtered_df = None

from IPython.display import display, HTML

def filter_dataframe(change: dict = None) -> None:
 """
 選択された宝くじの種類に応じてデータフレームをフィルタリングする関数

 Args:
 change (dict, optional): ドロップダウンメニューの値が変更されたときに生成される辞書型のデータ。
 'new'キーは新しく選択された値を表します。デフォルトはNone。

 Returns:
 None: この関数は何も返しません。ただし、グローバル変数global_filtered_dfが更新されます。
 """
 # グローバル変数を参照します
 global global_filtered_df
 # ドロップダウンメニューで新しく選択された宝くじの種類を取得します
 # changeがNoneの場合、デフォルトで"LOTO_Bin5"を選択します
 selected_column = change['new'] if change else "LOTO_Bin5"
 # データフレームをフィルタリングします。
 # 選択された宝くじの種類の列が1の行だけを残します。
 try: # ここからエラーハンドリングを追加
     global_filtered_df = df_encoded[df_encoded[selected_column] == 1]
 except NameError as e: # df_encodedが未定義の場合に発生する例外
     print(f"データフレームdf_encodedが未定義です。{e}")
 except KeyError as e: # 選択された宝くじの種類の列が存在しない場合に発生する例外
     print(f"データフレームdf_encodedに{selected_column}という列がありません。{e}")
 else: # 例外が発生しなかった場合に実行する処理
     # フィルタリングされたデータフレームをHTMLテーブルとして表示します。
     display(HTML(global_filtered_df.head().to_html()))
 finally: # 例外の有無に関わらず必ず実行する処理
     print(f"{selected_column}でフィルタリングしました。")

def select_df():
  """
  セレクトボックスを表示し、ユーザーが宝くじの種類を選択できるようにする関数

  引数: なし
  戻り値: なし
  """
  # セレクトボックスを表示します。ユーザーが選択するためのものです。
  display(select_box)

  # 選択された宝くじの種類が変わったときに上記の関数を呼び出すように設定します。
  # この操作は「observe」と呼ばれ、ドロップダウンメニューの値が変更されるたびにfilter_dataframe関数が呼び出されるようにします。
  select_box.observe(filter_dataframe, names='value')

  # 初期状態でfilter_dataframe関数を呼び出し、デフォルトの"LOTO_Bin5"でフィルタリングします。
  filter_dataframe()

Dropdown(description='LOTO:', options=(('LOTO_Bin5', 'LOTO_Bin5'), ('LOTO_loto6', 'LOTO_loto6'), ('LOTO_loto7'…

LOTO_Bin5でフィルタリングしました。

In [ ]:

select_df()

Dropdown(description='LOTO:', options=(('LOTO_Bin5', 'LOTO_Bin5'), ('LOTO_loto6', 'LOTO_loto6'), ('LOTO_loto7'…

LOTO_Bin5でフィルタリングしました。

In [ ]:
from joblib import Parallel, delayed
def extract_features(global_filtered_df: pd.DataFrame) -> pd.DataFrame:
    """
    時系列データから特徴量を抽出する関数

    引数:
        global_filtered_df: 時系列データが格納されたデータフレーム
    返り値:
        X_rocket_parallel_df: 特徴量が格納されたデータフレーム
    """
    # 'date'列をインデックスに設定
    global_filtered_df.set_index('date', inplace=True)

    # Rocketのインスタンスを作成
    rocket = Rocket()

    # global_filtered_dfを分割
    n_jobs = 4 # 並列処理の数
    # データフレームをn_jobs個に分割
    dfs = np.array_split(global_filtered_df, n_jobs)
    # 各分割データに対してRocketを適用
    results = Parallel(n_jobs=n_jobs)(delayed(lambda x: rocket.fit_transform(x.astype(float)))(df) for df in dfs) # xをfloat型に変換してからfit_transformメソッドに渡す

    # 結果を結合
    X_rocket_parallel = np.concatenate(results, axis=0) # NumPy配列として結合

    # NumPy配列をデータフレームに変換
    X_rocket_parallel_df = pd.DataFrame(X_rocket_parallel) # データフレームとして変換

    # データフレームを返す
    return X_rocket_parallel_df

In [ ]:
# 必要なモジュールのインポート
from joblib import Parallel, delayed
from sktime.transformations.panel.rocket import Rocket
import pandas as pd
import numpy as np

def extract_features(global_filtered_df: pd.DataFrame) -> pd.DataFrame:
    """
    時系列データから特徴量を抽出する関数

    引数:
        global_filtered_df: 時系列データが格納されたデータフレーム
    返り値:
        X_rocket_parallel_df: 特徴量が格納されたデータフレーム
    """
    # 'date'列をインデックスに設定
    global_filtered_df.set_index('date', inplace=True)

    # Rocketのインスタンスを作成
    rocket = Rocket()

    # global_filtered_dfを分割
    n_jobs = 4 # 並列処理の数
    dfs = np.array_split(global_filtered_df, n_jobs) # データフレームをn_jobs個に分割

    # 各分割データに対してRocketを適用
    results = Parallel(n_jobs=n_jobs)(delayed(lambda df: rocket.fit_transform(df.values.astype(float)))(df) for df in dfs) # xをfloat型に変換してからfit_transformメソッドに渡す

    # 結果を結合
    X_rocket_parallel = np.concatenate(results, axis=0) # NumPy配列として結合

    # NumPy配列をデータフレームに変換
    X_rocket_parallel_df = pd.DataFrame(X_rocket_parallel) # データフレームとして変換

    # データフレームを返す
    return X_rocket_parallel_df

In [ ]:
select_df()

Dropdown(description='LOTO:', index=3, options=(('LOTO_Bin5', 'LOTO_Bin5'), ('LOTO_loto6', 'LOTO_loto6'), ('LO…

LOTO_Bin5でフィルタリングしました。

In [ ]:
# 関数の実行例
X_rocket_parallel_df = extract_features(global_filtered_df) # 関数を呼び出して特徴量を抽出
X_rocket_parallel_df # 特徴量を表示

,0,1,2,3,4,5,6,7,8,9,...,19990,19991,19992,19993,19994,19995,19996,19997,19998,19999
0,0.412500,12.088640,0.437500,6.942568,0.100000,4.118283,0.300000,3.739792,0.680000,3.774187,...,0.859375,9.281695,0.541667,12.584763,0.412500,6.280535,0.525000,8.270088,0.589286,7.073940
1,0.425000,6.711677,0.575000,7.147002,0.416667,8.327692,0.233333,2.662279,0.450000,10.158849,...,0.650000,12.108178,1.000000,0.162262,0.352941,3.770246,0.142857,2.870524,1.000000,2.102416
2,0.450000,8.934011,0.585714,8.696431,0.425000,3.341104,0.500000,2.698834,1.000000,0.686034,...,0.500000,6.176264,0.333333,11.009545,0.516667,10.945975,0.593750,9.199838,1.000000,0.296827
3,0.447761,6.616150,0.405063,9.635786,0.455696,3.062271,0.553191,7.490970,0.329114,4.196608,...,0.000000,-0.443257,0.000000,-0.799318,0.521739,12.413645,1.000000,0.648482,0.898734,5.250315

In [ ]:
select_df()

Dropdown(description='LOTO:', index=1, options=(('LOTO_Bin5', 'LOTO_Bin5'), ('LOTO_loto6', 'LOTO_loto6'), ('LO…

LOTO_Bin5でフィルタリングしました。

LOTO_minilotoでフィルタリングしました。

In [ ]:
# featuretoolsというライブラリをインポートする
import featuretools as ft
# dask.distributedというライブラリをインポートする（並列処理や分散処理に使う）
from dask.distributed import Client, progress
# woodwork.logical_typesというライブラリをインポートする（データ型の指定に使う）
from woodwork.logical_types import Categorical, Integer
# timeというモジュールをインポートする（時間計測に使う）
import time

# Daskクライアントを作成する関数
def create_dask_client() -> Client:
  """
  並列処理のためにDaskクライアントを作成する関数

  引数: なし
  戻り値: Client クラスのインスタンス
  """
  # 並列処理のためにDaskクライアントを作成
  client = Client()
  print(f"Dask Dashboard URL: {client.dashboard_link}")
  return client

# エンティティセットを作成する関数
def create_entity_set(global_filtered_dd: dd.DataFrame) -> ft.EntitySet:
  """
  この関数は、エンティティセットを作成するものです。
  引数としてDask DataFrameクラスのインスタンスであるglobal_filtered_ddを受け取ります。
  ft.EntitySetクラスのインスタンスを返します。

  Args:
    global_filtered_dd (dd.DataFrame): Dask DataFrame クラスのインスタンス

  Returns:
    ft.EntitySet: ft.EntitySet クラスのインスタンス
  """
  # ft(EntitySet)クラスのインスタンスを作成します。このインスタンスはエンティティセット（データテーブルの集合）を表現します。
  # エンティティセットのidは"lottery"とします。
  es = ft.EntitySet(id="lottery")

  # es.add_dataframeメソッドを使用して、エンティティセットに新しいデータフレームを追加します。
  # dataframe_nameに"results"を指定して、このデータフレームの名前を定めます。
  # dataframeにはglobal_filtered_dd（Dask DataFrame）を指定します。
  # indexに"id"を指定して、このデータフレームのインデックスカラムを定めます。
  # time_indexに"date"を指定して、このデータフレームの時間インデックスカラムを定めます。
  # logical_typesには、各カラムの論理型を指定します。
  es = es.add_dataframe(
    dataframe_name="results",
    dataframe=global_filtered_dd,
    index="id",
    time_index="date",
    logical_types={
      "part": Categorical,
      "N1": Integer,
      "N2": Integer,
      "N3": Integer,
      "N4": Integer,
      "N5": Integer,
      "N6": Integer,
      "N7": Integer,
      "N8": Integer,
      "B1": Integer,
      "B2": Integer
    }
  )

  # エンティティセットを返します。
  return es

# 深い特徴量の合成を実行する関数
def synthesize_deep_features(es: ft.EntitySet) -> tuple:
  """
  この関数は、深い特徴量の合成を実行します。
  引数としてft.EntitySetクラスのインスタンスであるesを受け取ります。
  tupleクラスのインスタンス(feature_matrix, feature_defs)を返します。
  feature_matrixはDask DataFrame クラスのインスタンス、
  feature_defsはlist クラスのインスタンスです。

  Args:
    es (ft.EntitySet): ft.EntitySet クラスのインスタンス

  Returns:
    tuple: (feature_matrix, feature_defs)
           feature_matrixはDask DataFrame クラスのインスタンス
           feature_defsはlist クラスのインスタンス
  """
  # Featuretoolsのdfs（Deep Feature Synthesis）メソッドを使用して深い特徴量の合成を実行します。
  # entitysetにはesを指定します。
  # target_dataframe_nameには"results"を指定して、深い特徴量を作成する対象のデータフレームを定めます。
  # trans_primitivesには、特徴量を生成する際に使用する変換関数のリストを指定します。
  # ここでは"day", "month", "year", "is_weekend"を指定しています。
  # max_depthには特徴量の深さ（複雑さ）を制御する値を指定します。ここでは1を指定しています。
  feature_matrix, feature_defs = ft.dfs(entityset=es,
                                        target_dataframe_name="results",
                                        trans_primitives=["day", "month", "year", "is_weekend"],
                                        max_depth=1)

  # 生成された特徴量のマトリックスと特徴量の定義を返します。
  return feature_matrix, feature_defs


# 特徴量行列のインデックスをソートする関数
def sort_feature_matrix(feature_matrix: dd.DataFrame) -> dd.DataFrame:
  """
  特徴量行列のインデックスをソートする関数

  引数: feature_matrix Dask DataFrame クラスのインスタンス
  戻り値: feature_matrix Dask DataFrame クラスのインスタンス (ソート済み)
  """
  # 特徴量行列のindexをpandasのSeriesオブジェクトに変換
  feature_matrix.index = feature_matrix.index.to_series()

  # インデックスを単調増加するようにソートする
  # ここでは、Dask DataFrameをPandas DataFrameに変換しています
  feature_matrix = feature_matrix.compute().sort_index()

  return feature_matrix

# 特徴量行列をDask DataFrameに変換する関数
def convert_to_dask_dataframe(feature_matrix: pd.DataFrame) -> dd.DataFrame:
  """
  特徴量行列をDask DataFrameに変換する関数

  引数: feature_matrix Pandas DataFrame クラスのインスタンス
  戻り値: feature_matrix_dd Dask DataFrame クラスのインスタンス
  """
  # 修正後の特徴量行列をDask DataFrameに変換
  # 注意: compute()を使用したため、全データがメモリにロードされます
  feature_matrix_dd = dd.from_pandas(feature_matrix, npartitions=4)

  return feature_matrix_dd

# メイン処理
def featuretools_main() -> dd.DataFrame:
  """
  メイン処理を実行する関数

  引数: なし
  戻り値: computed_feature_matrix Dask DataFrame クラスのインスタンス
  """

  # Dask DataFrameに変換
  global_filtered_dd = dd.from_pandas(global_filtered_df, npartitions=4)

  # Daskクライアントを作成
  client = create_dask_client()

  # エンティティセットを作成
  es = create_entity_set(global_filtered_dd)

  # 深い特徴量の合成を実行
  feature_matrix, feature_defs = synthesize_deep_features(es)

  # 特徴量行列のインデックスをソート
  feature_matrix = sort_feature_matrix(feature_matrix)

  # 特徴量行列をDask DataFrameに変換
  feature_matrix_dd = convert_to_dask_dataframe(feature_matrix)

  # 他のコードは変更なし...

  # 並列処理を実行して結果を得る
  start_time = time.time()
  computed_feature_matrix = feature_matrix_dd.compute()
  end_time = time.time()

  # 処理速度を表示
  print("Processing time: {:.2f} seconds".format(end_time - start_time))

  # Daskクライアントを閉じる
  client.close()

  print("特徴量行列:")
  computed_feature_matrix.head()

  return computed_feature_matrix

computed_feature_matrix =featuretools_main()
computed_feature_matrix.head()

INFO:distributed.scheduler:State start
INFO:distributed.scheduler:  Scheduler at:     tcp://127.0.0.1:32943
INFO:distributed.scheduler:  dashboard at:  http://127.0.0.1:8787/status
INFO:distributed.nanny:        Start Nanny at: 'tcp://127.0.0.1:46525'
INFO:distributed.nanny:        Start Nanny at: 'tcp://127.0.0.1:32815'
INFO:distributed.nanny:        Start Nanny at: 'tcp://127.0.0.1:46523'
INFO:distributed.nanny:        Start Nanny at: 'tcp://127.0.0.1:33863'
INFO:distributed.scheduler:Register worker <WorkerState 'tcp://127.0.0.1:45157', name: 2, status: init, memory: 0, processing: 0>
INFO:distributed.scheduler:Starting worker compute stream, tcp://127.0.0.1:45157
INFO:distributed.core:Starting established connection to tcp://127.0.0.1:51398
INFO:distributed.scheduler:Register worker <WorkerState 'tcp://127.0.0.1:34221', name: 1, status: init, memory: 0, processing: 0>
INFO:distributed.scheduler:Starting worker compute stream, tcp://127.0.0.1:34221
INFO:distributed.core:Starting established connection to tcp://127.0.0.1:51408
INFO:distributed.scheduler:Register worker <WorkerState 'tcp://127.0.0.1:38177', name: 0, status: init, memory: 0, processing: 0>
INFO:distributed.scheduler:Starting worker compute stream, tcp://127.0.0.1:38177
INFO:distributed.core:Starting established connection to tcp://127.0.0.1:51404
INFO:distributed.scheduler:Register worker <WorkerState 'tcp://127.0.0.1:35589', name: 3, status: init, memory: 0, processing: 0>
INFO:distributed.scheduler:Starting worker compute stream, tcp://127.0.0.1:35589
INFO:distributed.core:Starting established connection to tcp://127.0.0.1:51416
INFO:distributed.scheduler:Receive client connection: Client-05b18e65-046b-11ee-b1cf-0242ac1c000c
INFO:distributed.core:Starting established connection to tcp://127.0.0.1:51420
/usr/local/lib/python3.10/dist-packages/featuretools/entityset/entityset.py:706: UserWarning: Performing type inference on Dask or Spark DataFrames may be computationally intensive. Specify logical types for each column to speed up EntitySet initialization.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/featuretools/entityset/entityset.py:1910: UserWarning: index id not found in dataframe, creating new integer column
  warnings.warn(

Dask Dashboard URL: http://127.0.0.1:8787/status

INFO:distributed.nanny:Closing Nanny at 'tcp://127.0.0.1:46525'. Reason: nanny-close
INFO:distributed.nanny:Nanny asking worker to close. Reason: nanny-close
INFO:distributed.nanny:Closing Nanny at 'tcp://127.0.0.1:32815'. Reason: nanny-close
INFO:distributed.nanny:Nanny asking worker to close. Reason: nanny-close
INFO:distributed.nanny:Closing Nanny at 'tcp://127.0.0.1:46523'. Reason: nanny-close
INFO:distributed.nanny:Nanny asking worker to close. Reason: nanny-close
INFO:distributed.nanny:Closing Nanny at 'tcp://127.0.0.1:33863'. Reason: nanny-close
INFO:distributed.nanny:Nanny asking worker to close. Reason: nanny-close
INFO:distributed.core:Received 'close-stream' from tcp://127.0.0.1:51404; closing.
INFO:distributed.core:Received 'close-stream' from tcp://127.0.0.1:51408; closing.
INFO:distributed.core:Received 'close-stream' from tcp://127.0.0.1:51398; closing.
INFO:distributed.scheduler:Remove worker <WorkerState 'tcp://127.0.0.1:38177', name: 0, status: closing, memory: 0, processing: 0>
INFO:distributed.core:Removing comms to tcp://127.0.0.1:38177
INFO:distributed.scheduler:Remove worker <WorkerState 'tcp://127.0.0.1:34221', name: 1, status: closing, memory: 0, processing: 0>
INFO:distributed.core:Removing comms to tcp://127.0.0.1:34221
INFO:distributed.scheduler:Remove worker <WorkerState 'tcp://127.0.0.1:45157', name: 2, status: closing, memory: 0, processing: 0>
INFO:distributed.core:Removing comms to tcp://127.0.0.1:45157
INFO:distributed.core:Received 'close-stream' from tcp://127.0.0.1:51416; closing.
INFO:distributed.scheduler:Remove worker <WorkerState 'tcp://127.0.0.1:35589', name: 3, status: closing, memory: 0, processing: 0>
INFO:distributed.core:Removing comms to tcp://127.0.0.1:35589
INFO:distributed.scheduler:Lost all workers

Processing time: 0.05 seconds

INFO:distributed.scheduler:Scheduler closing...
INFO:distributed.scheduler:Scheduler closing all comms

特徴量行列:

,part,N1,N2,N3,N4,N5,B1,N6,N7,B2,...,LOTO_loto6,LOTO_loto7,LOTO_miniloto,LOTO_num3,LOTO_num4,DAY(date),IS_WEEKEND(date),MONTH(date),YEAR(date),id
0,1,1,3,17,20,25,26,0,0,0,...,False,False,True,False,False,13,False,4,1999,0
1,2,2,11,12,21,30,28,0,0,0,...,False,False,True,False,False,27,False,4,1999,1
2,3,1,8,10,24,30,28,0,0,0,...,False,False,True,False,False,11,False,5,1999,2
3,4,11,12,14,20,31,29,0,0,0,...,False,False,True,False,False,25,False,5,1999,3
4,5,8,9,15,21,25,23,0,0,0,...,False,False,True,False,False,8,False,6,1999,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,1231,1,14,20,21,31,5,0,0,0,...,False,False,True,False,False,9,False,5,2023,1230
1231,1232,4,5,17,27,29,6,0,0,0,...,False,False,True,False,False,16,False,5,2023,1231
1232,1233,3,8,17,19,23,22,0,0,0,...,False,False,True,False,False,23,False,5,2023,1232
1233,1234,4,14,15,27,28,22,0,0,0,...,False,False,True,False,False,30,False,5,2023,1233
1234,1235,8,12,17,22,28,5,0,0,0,...,False,False,True,False,False,6,False,6,2023,1234

In [ ]:
# tsfreshというライブラリからextract_featuresという関数をインポートします。extract_featuresは時系列データから特徴量を抽出する関数です。
from tsfresh import extract_features
# tsfreshのユーティリティモジュールからroll_time_seriesという関数をインポートします。roll_time_seriesはデータフレームをローリング（積み重ね）して、時系列特徴量を抽出できる形にする関数です。
from tsfresh.utilities.dataframe_functions import roll_time_series
# tsfreshのユーティリティモジュールからMultiprocessingDistributorというクラスをインポートします。MultiprocessingDistributorは並列処理を行うためのクラスです。
from tsfresh.utilities.distribution import MultiprocessingDistributor
# tsfreshの特徴量抽出設定モジュールからMinimalFCParameters, EfficientFCParameters, ComprehensiveFCParametersというクラスをインポートします。これらは時系列特徴量の抽出設定を表すクラスです。
from tsfresh.feature_extraction.settings import MinimalFCParameters, EfficientFCParameters, ComprehensiveFCParameters

# データフレームからidとtimeを追加する関数
def add_id_time(global_filtered_df: pd.DataFrame) -> pd.DataFrame:
  """
  この関数は、データフレームからidとtimeを追加するものです。
  引数としてPandas DataFrameクラスのインスタンスであるglobal_filtered_dfを受け取ります。
  idとtimeが追加されたPandas DataFrameクラスのインスタンスを返します。

  Args:
    global_filtered_df (pd.DataFrame): Pandas DataFrame クラスのインスタンス

  Returns:
    pd.DataFrame: idとtimeが追加されたPandas DataFrame クラスのインスタンス
  """
  # global_filtered_dfと同じデータフレームを作成します。
  global_filtered_df1 =global_filtered_df

  # 新たなカラム'id'を作成し、すべての行に1をセットします。
  global_filtered_df1['id'] = 1

  # 新たなカラム'time'を作成します。
  # 'date'カラムの値をpd.to_datetime関数で日付型に変換し、さらにその日付部分のみを抽出します（.dt.date）。
  global_filtered_df1['time'] = pd.to_datetime(global_filtered_df1['date']).dt.date

  # idとtimeが追加されたデータフレームを返します。
  return global_filtered_df1


# 特徴量抽出用のデータフレームを作成する関数
def create_tsfresh_dataframe(global_filtered_df1: pd.DataFrame) -> pd.DataFrame:
  """
  特徴量抽出用のデータフレームを作成する関数

  引数: global_filtered_df1 Pandas DataFrame クラスのインスタンス (idとtimeが追加されたもの)
  戻り値: df_tsfresh Pandas DataFrame クラスのインスタンス (特徴量抽出用に整形されたもの)
  """
  # カラム名リストを作成
  columns_to_extract = ['N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'B1', 'B2']

  # 特徴量抽出用のデータフレームを作成
  df_tsfresh = global_filtered_df1[['id', 'time'] + columns_to_extract]
  return df_tsfresh

# データフレームをローリング（積み重ね）して、時系列特徴量を抽出できる形にする関数
def roll_dataframe(df_tsfresh: pd.DataFrame) -> pd.DataFrame:
  """
  データフレームをローリング（積み重ね）して、時系列特徴量を抽出できる形にする関数

  引数: df_tsfresh Pandas DataFrame クラスのインスタンス (特徴量抽出用に整形されたもの)
  戻り値: df_rolled Pandas DataFrame クラスのインスタンス (ローリングされたもの)
  """
  # データフレームをローリング（積み重ね）して、時系列特徴量を抽出できる形にする
  df_rolled = roll_time_series(df_tsfresh, column_id='id', column_sort='time')
  return df_rolled

# 時系列特徴量の抽出設定を選択する関数
def select_extraction_settings() -> dict:
  """
  時系列特徴量の抽出設定を選択する関数

  引数: なし
  戻り値: extraction_settings dict クラスのインスタンス (時系列特徴量の抽出設定)
  """
  # 時系列特徴量の抽出設定を選択
  extraction_settings = EfficientFCParameters() # 変更可能な設定は MinimalFCParameters(), EfficientFCParameters(), ComprehensiveFCParameters()
  return extraction_settings

# 時系列特徴量の抽出を実行する関数
def extract_time_series_features(df_rolled: pd.DataFrame, extraction_settings: dict) -> pd.DataFrame:
  """
  時系列特徴量の抽出を実行する関数

  引数: df_rolled Pandas DataFrame クラスのインスタンス (ローリングされたもの)
        extraction_settings dict クラスのインスタンス (時系列特徴量の抽出設定)
  戻り値: extracted_features Pandas DataFrame クラスのインスタンス (抽出された特徴量)
  """
  # 並列処理の設定
  # MultiprocessingDistributorクラスのインスタンスを作成します。
  # n_workersは並列処理に使用するワーカー数を指定します。ここでは4に設定しています。
  # disable_progressbarはプログレスバーを表示するかどうかを指定します。ここではFalseに設定しています。
  distributor = MultiprocessingDistributor(n_workers=4, disable_progressbar=False)

  # 時系列特徴量の抽出
  # extract_features関数を呼び出します。
  # df_rolledはローリングされたデータフレームです。
  # column_idはデータフレームのidカラム名を指定します。ここでは'id'に設定しています。
  # column_sortはデータフレームの時系列カラム名を指定します。ここでは'time'に設定しています。
  # default_fc_parametersは時系列特徴量の抽出設定を指定します。ここではextraction_settingsに設定しています。
  # distributorは並列処理の設定を指定します。ここではdistributorに設定しています。
  extracted_features = extract_features(
    df_rolled,
    column_id='id',
    column_sort='time',
    default_fc_parameters=extraction_settings,
    distributor=distributor
  )

  return extracted_features

# メイン処理
def tsfresh_main() -> pd.DataFrame:
  """
  メイン処理を実行する関数

  引数: なし
  戻り値: extracted_features Pandas DataFrame クラスのインスタンス (抽出された特徴量)
  """

  # データフレームからidとtimeを追加
  global_filtered_df1 = add_id_time(global_filtered_df)

  # 特徴量抽出用のデータフレームを作成
  df_tsfresh = create_tsfresh_dataframe(global_filtered_df1)

  # データフレームをローリング（積み重ね）
  df_rolled = roll_dataframe(df_tsfresh)

  # 時系列特徴量の抽出設定を選択
  extraction_settings = select_extraction_settings()

  # 時系列特徴量の抽出を実行
  extracted_features = extract_time_series_features(df_rolled, extraction_settings)

  return extracted_features


extracted_features =tsfresh_main()
# 抽出された特徴量を表示
extracted_features.head()

Rolling: 100%|██████████| 30/30 [00:01<00:00, 21.02it/s]
WARNING:tsfresh.feature_extraction.settings:Dependency not available for matrix_profile, this feature will be disabled!
Feature Extraction: 100%|██████████| 20/20 [15:20<00:00, 46.05s/it]

,N1__variance_larger_than_standard_deviation,N1__has_duplicate_max,N1__has_duplicate_min,N1__has_duplicate,N1__sum_values,N1__abs_energy,N1__mean_abs_change,N1__mean_change,N1__mean_second_derivative_central,N1__median,...,B2__fourier_entropy__bins_5,B2__fourier_entropy__bins_10,B2__fourier_entropy__bins_100,B2__permutation_entropy__dimension_3__tau_1,B2__permutation_entropy__dimension_4__tau_1,B2__permutation_entropy__dimension_5__tau_1,B2__permutation_entropy__dimension_6__tau_1,B2__permutation_entropy__dimension_7__tau_1,B2__query_similarity_count__query_None__threshold_0.0,B2__mean_n_absolute_max__number_of_maxima_7
"(1, 1999-04-13)",0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1, 1999-04-27)",0.0,0.0,0.0,0.0,3.0,5.0,1.00,1.000000,NaN,1.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"(1, 1999-05-11)",0.0,0.0,1.0,1.0,4.0,6.0,1.00,0.000000,-1.000000,1.0,...,NaN,NaN,NaN,-0.0,NaN,NaN,NaN,NaN,NaN,NaN
"(1, 1999-05-25)",1.0,0.0,1.0,1.0,15.0,127.0,4.00,3.333333,2.250000,1.5,...,NaN,NaN,NaN,-0.0,-0.0,NaN,NaN,NaN,NaN,NaN
"(1, 1999-06-08)",1.0,0.0,1.0,1.0,23.0,191.0,3.75,1.750000,-0.666667,2.0,...,NaN,NaN,NaN,-0.0,-0.0,-0.0,NaN,NaN,NaN,NaN

In [ ]:
extracted_features.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1235 entries, ((1, datetime.date(1999, 4, 13)),) to ((1, datetime.date(2023, 6, 6)),)
Columns: 7770 entries, N1__variance_larger_than_standard_deviation to B2__mean_n_absolute_max__number_of_maxima_7
dtypes: float64(7770)
memory usage: 73.3+ MB

In [ ]:
from sklearn.linear_model import Ridge  # Ridge回帰用のライブラリ
from seglearn.transform import FeatureRep, SegmentXY  # 特徴量抽出用のライブラリ
from seglearn.pipe import Pype  # パイプライン作成用のライブラリ

def extract_features_and_train_model(global_filtered_df: pd.DataFrame, segment_length: int = 10) -> pd.DataFrame:
    """
    この関数は、元のデータから特徴量を抽出し、それを使ってRidge回帰モデルを訓練します。そして、抽出した特徴量を返します。

    :param global_filtered_df: 特徴量抽出を行う元のデータフレーム
    :param segment_length: セグメントの長さ（デフォルト値は10）
    :return: 特徴量抽出後のデータフレーム
    """
    # ターゲット変数（予測したいデータ）を定義します。
    y = global_filtered_df[['N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'B1', 'B2']].values

    # 特徴量抽出を行う列を選択します。
    X = global_filtered_df.drop(['date', 'N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'B1', 'B2'], axis=1).values

    # 特徴量抽出とモデル学習の一連の流れ（パイプライン）を定義します。
    clf = Pype([('seg', SegmentXY(width=segment_length, overlap=0.5)),
                ('ftr', FeatureRep(features='default')),
                ('clf', Ridge())])

    # 上で定義したパイプラインに従って、特徴量抽出とRidge回帰モデルの学習を行います。
    clf.fit(X, y)

    # 特徴量抽出後のデータを取得します。
    X_transformed = clf.named_steps['ftr'].transform(X)

    # 変換されたデータをデータフレームに戻します。
    transformed_df = pd.DataFrame(X_transformed)

    return transformed_df

# pandas データフレーム 'df' が既に存在していると仮定します。
# このデータフレームには特徴量を抽出したいデータが含まれています。

# 関数を呼び出し、セグメントの長さを指定します。ここではセグメントの長さを10に設定します。
# セグメントの長さは、時間シリーズデータの一部分（セグメント）に対して特徴量抽出を行うためのパラメータです。
transformed_df = extract_features_and_train_model(global_filtered_df, segment_length=10)

# 結果を表示します。
print(transformed_df.head())

TypeError: ignored

In [ ]:
!pip install sktime

Collecting sktime
  Downloading sktime-0.21.0-py3-none-any.whl (17.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 78.4 MB/s eta 0:00:00
Collecting deprecated>=1.2.13 (from sktime)
  Downloading Deprecated-1.2.14-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: numpy<1.26,>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from sktime) (1.22.4)
Requirement already satisfied: pandas<2.1.0,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from sktime) (1.5.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from sktime) (23.1)
Collecting scikit-base<0.6.0 (from sktime)
  Downloading scikit_base-0.5.0-py3-none-any.whl (118 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 118.2/118.2 kB 10.4 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn<1.4.0,>=0.24.0 in /usr/local/lib/python3.10/dist-packages (from sktime) (1.2.2)
Requirement already satisfied: scipy<2.0.0,>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from sktime) (1.10.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.10/dist-packages (from deprecated>=1.2.13->sktime) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.1.0,>=1.1.0->sktime) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<2.1.0,>=1.1.0->sktime) (2022.7.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<1.4.0,>=0.24.0->sktime) (1.3.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn<1.4.0,>=0.24.0->sktime) (3.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas<2.1.0,>=1.1.0->sktime) (1.16.0)
Installing collected packages: scikit-base, deprecated, sktime
Successfully installed deprecated-1.2.14 scikit-base-0.5.0 sktime-0.21.0

In [ ]:
!pip install sktime[all_extras]

In [ ]:
from sktime.registry import all_estimators

# all_estimators()関数で、multivariateまたはbothのscitype:yを持つ予測器を取得する
for forecaster in all_estimators():
    # 予測器の名前を出力する
    print(forecaster)

In [ ]:
from sktime.datasets import load_longley
from sktime.forecasting.arima import ARIMA

_, y = load_longley()

y = y.drop(columns=["UNEMP", "ARMED", "POP"])

forecaster = ARIMA()
forecaster.fit(y, fh=[1, 2, 3])

forecaster.forecasters_

/usr/local/lib/python3.10/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'

             GNPDEFL      GNP
forecasters  ARIMA()  ARIMA()

In [ ]:
from sktime.datasets import load_longley
from sktime.forecasting.var import VAR

_, y = load_longley()

y = y.drop(columns=["UNEMP", "ARMED", "POP"])

forecaster = VAR()
forecaster.fit(y, fh=[1, 2, 3])

y_pred = forecaster.predict()

In [ ]:
y_pred

           GNPDEFL            GNP
Period
1963    121.688295  578514.398653
1964    124.353664  601873.015890
1965    126.847886  625411.588754

In [ ]:
from sktime.datasets import load_airline
from sktime.forecasting.base import ForecastingHorizon
from sktime.forecasting.naive import NaiveForecaster
import pandas as pd
import numpy as np
# step 1: data specification
y = load_airline()
# we create some dummy exogeneous data
X = pd.DataFrame(index=y.index)

# step 2: specifying forecasting horizon
fh = np.arange(1, 37)

# step 3: specifying the forecasting algorithm
forecaster = NaiveForecaster(strategy="last", sp=12)

# step 4: fitting the forecaster
forecaster.fit(y, X=X, fh=fh)

# step 5: querying predictions
y_pred = forecaster.predict(X=X)

In [ ]:
X

Empty DataFrame
Columns: []
Index: [1949-01, 1949-02, 1949-03, 1949-04, 1949-05, 1949-06, 1949-07, 1949-08, 1949-09, 1949-10, 1949-11, 1949-12, 1950-01, 1950-02, 1950-03, 1950-04, 1950-05, 1950-06, 1950-07, 1950-08, 1950-09, 1950-10, 1950-11, 1950-12, 1951-01, 1951-02, 1951-03, 1951-04, 1951-05, 1951-06, 1951-07, 1951-08, 1951-09, 1951-10, 1951-11, 1951-12, 1952-01, 1952-02, 1952-03, 1952-04, 1952-05, 1952-06, 1952-07, 1952-08, 1952-09, 1952-10, 1952-11, 1952-12, 1953-01, 1953-02, 1953-03, 1953-04, 1953-05, 1953-06, 1953-07, 1953-08, 1953-09, 1953-10, 1953-11, 1953-12, 1954-01, 1954-02, 1954-03, 1954-04, 1954-05, 1954-06, 1954-07, 1954-08, 1954-09, 1954-10, 1954-11, 1954-12, 1955-01, 1955-02, 1955-03, 1955-04, 1955-05, 1955-06, 1955-07, 1955-08, 1955-09, 1955-10, 1955-11, 1955-12, 1956-01, 1956-02, 1956-03, 1956-04, 1956-05, 1956-06, 1956-07, 1956-08, 1956-09, 1956-10, 1956-11, 1956-12, 1957-01, 1957-02, 1957-03, 1957-04, ...]

[144 rows x 0 columns]

In [ ]:
y

Period
1949-01    112.0
1949-02    118.0
1949-03    132.0
1949-04    129.0
1949-05    121.0
           ...
1960-08    606.0
1960-09    508.0
1960-10    461.0
1960-11    390.0
1960-12    432.0
Freq: M, Name: Number of airline passengers, Length: 144, dtype: float64